<!DOCTYPE html>
<html>
  <head>
    <title>Elternverein Küttigen-Rombach - <%= data.page.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "bootstrap-responsive.min" %>    
    <%= stylesheet_link_tag "footable-0.1" %>
    <%= stylesheet_link_tag "app" %>
    
    
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body id="page" class="<%= page_classes %>" data-spy="scroll" data-target="#sidebar">
  <div id="header">
    <div class="container">
      <div class="row">
        <div id="navigation-left" class="span5 hidden-phone">
          <ul class="unstyled">
            <li><%= link_to 'Home', '/index.html' %> |</li>
            <li><%= link_to 'News', '/news.html' %> |</li>
            <li><%= link_to 'Angebot', '/angebot.html' %></li>
          </ul>
        </div>
        <div class="span2 ">
          <center><img src="/img/Logo-klein-invert.png" /></center>
        </div>
        <div id="navigation-right" class="span5 hidden-phone">
          <ul class="unstyled">
            <li><%= link_to 'Verein', '/verein.html' %> |</li>             
            <li><%= link_to 'Faz', '/familienzentrum.html' %> |</li>              
            <li><%= link_to 'Bilder', '/bilder.html' %></li>             
          </ul>
        </div>
        <!--<div class="span12 visible-phone">...</div>-->
        <div class="span12 visible-phone">
          <select id="mobile-nav">
            <option value="/">Click to navigate...</option>
            <option value="/">Home</option>
            <option value="/news">News</option>
            <option value="/angebot">Angebot</option>
            <option value="/angebot/#Adventsfenster">--Adventsfenster</option>
            <option value="angebot/#Babysitterboerse">--Babysitterbörse</option>
            <option value="chinderkafi.html">--Chinderkafi</option>
            <option value="Kinderfasnacht.html">--Kinderfasnacht</option>
            <option value="/verein">Verein</option> 
            <option value="/familienzentrum">Familienzentrum</option>
            <option value="#">Bilder</option>
          </select>
        </div>
      </div>
    </div>
  </div><!-- end header div -->

  <!-- social media buttons -->
  <div class="container">
    <div class="row">
      <div class="span12 socialMedia">
        <ul class="socalMediaButton">
          <li class="float-left">
            <a target="_blank" href="https://twitter.com/evkfaz/">Twitter</a>
          </li>
          <li class="float-right">
            <a target="_blank" href="http://www.facebook.com/EVKuettigen">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- main container -->
  <div class="container">
    <%= yield %><!--page content to be placed -->
  </div>

<!-- footer -->
  <div id="footer">
    <div class="container">
      <div class="row gaga">
        <div class="span4">
          <h4>Arbeitsgruppen</h4>
          <ul class="unstyled">
            <li><a href="#">Adventsfenster</a></li>
            <li><a href="#">Babysitterbörse</a></li>
            <li><a href="#">Chinderkafi</a></li>
            <li><a href="#">Kinderfasnacht</a></li>
            <li><a href="#">Kleider / Spielzeugbörse</a></li>
            <li><a href="#">Kinderrechtstag</a></li>
          </ul>
        </div>
        <div class="span4">
          <h4>Arbeitsgruppen</h4>
          <ul class="unstyled">
            <li><a href="#">Kinderschwimmen (IG)</a></li>
            <li><a href="#">Mittagstisch</a></li>
            <li><a href="#">MusikErlebnis</a></li>
            <li><a href="#">Spielgruppe</a></li>
            <li><a href="#">Waldspielgruppe</a></li>
            <li><a href="#">Ferienspass</a></li>
          </ul>
        </div>
        <div class="span4">
          <h4>Verein</h4>
          <ul class="unstyled">
            <li><a href="#">Familienzentrum</a></li>
            <li><a href="#">Mitglied werden</a></li>
          </ul>
          <h4>Kontakt:</h4>
          <p>
            <a href="mailto:info@evk-faz.ch">info(at)evk-faz.ch</a><br />
            <a href="http//www.facebook.com/evkuettigen">Facebook</a><br />
            <a href="http://twitter.com/evk-faz">Twitter</a><br />
          </p>
        </div>
      </div>
    </div>
  </div>


    <!-- load javascripts -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <%= javascript_include_tag  "bootstrap.min" %>
    <%= javascript_include_tag "smoothscroll" %>
    <%= javascript_include_tag "footable-0.1" %>
	<%= javascript_include_tag "app" %>
      <script type="text/javascript">                                         
        $(document).ready(function() {
        //$('#page').scrollspy();
        $('#page').scrollspy({
          offset: 60
          });
        $('#myCarousel').carousel({ interval: 4000 })
        });

    </script>

  </body>
</html>
