---
title: Angebot
---

<div class="row">
	  <aside class="span3 hidden-phone">
		  <ul id="sidebar" class="nav nav-tabs nav-stacked sidebar" data-spy="affix" data-offset-top="150">
			  <li><a href="#Adventsfenster">Adventsfenster</a></li>
		  	  <li><a href="#Babysitterboerse">Babysitterbörse</a></li>
		  	  <li><a href="#Chinderkafi">Chinderkafi</a></li>
		  	  <li><a href="#Kinderfasnacht">Kinderfasnacht</a></li>
		  	  <li><a href="#Boerse">Börse</a></li>
		  	  <li><a href="#Kinderrechtstag">Kinderrechtstag</a></li>
		  	  <li><a href="#Kinderschwimmen">Kinderschwimmen</a></li>
		  	  <li><a href="#Mittagstisch">Mittagstisch</a></li>
		  	  <li><a href="#MusikErlebnis">MusikErlebnis</a></li>
		  	  <li><a href="#Spielgruppe">Spielgruppe</a></li>
		  	  <li><a href="#Waldspielgruppe">Waldspielgruppe</a></li>
		  	  <li><a href="#FerienSpass">FerienSpass</a></li>
		  </ul>
	  </aside>
	  <div class="span9"> <!-- start content section -->
		  <h1 id="top"><%= data.page.title %></h1>
			  <section id="Adventsfenster"><!-- start section -->
				  <h2>Adventsfenster</h2>
				  <div class="media">
					  <div class="pull-left">
						  <%= image_tag 'seiten/adventsfenster.jpg', :class => "media-object" %>
					  </div>
					  <div class="media-body">
						  <p>				  
							  Mit den Vorbereitungen für Weihnachten startet unsere Arbeitsgruppe jeweils schon nach den Sommerferien. 
							  Wir bestimmen ein Quartier im Dorf, fragen Familien an zum Mitmachen, verschicken Briefe, hängen Flyer 
							  auf und organisieren den festlichen Apéro zur Eröffnung der Adventsfenster am 1. Dezember. 
							  Anschliessend können wir zurücklehnen und uns -zusammen mit vielen Dorfbewohnern- an den vielen schön 
							  dekorierten, originellen, vielfältigen Kreationen erfreuen, die unser Dorf in der dunklen Winterzeit 
							  bis am 1. Januar erhellen!
						  </p>						  
					  </div>	
											  
				  </div>
				  <hr class="dotted">
				  <h3>Kontakt</h3>
				  <address>
					  <strong>Berner Sara</strong><br>
					  062 827 13 33<br>
					  <a href="sara@berner-gartenbau.ch">sara@berner-gartenbau.ch</a><br>
				  </address>
				  <p>
					  Desanka Schurter<br>
					  Franziska Honegger Roth
				  </p>
				  <hr class="dotted">
				  <h3>Route 2012</h3>
				  <p>
			      	Wir laden alle grossen und kleinen Leute ein, sich 	auf den Weg durch einen Teil unseres Dorfes zu machen, um die leuchtenden Fenster 
			      	in der dunklen Jahreszeit zu bestaunen!<br><br>
			      	<%= image_tag 'seiten/route-adventsfenster-2012.jpg' %>
			      </p>
			      <ul class="unstyled">
			      	<li><strong>A</strong>1	Kindergarten Bohnlet</li>
			      	<li><strong>B</strong>2	Familie Hess-Geier, Bollackerweg 9</li>
			      	<li><strong>C</strong>4	Familie Lüscher Urech, Eichweg 9</li>
			      	<li><strong>D</strong>7	Familie Müller, Eichweg 10</li>
			      	<li><strong>E</strong>8	Familie Schumacher, Eichweg 18</li>
			      	<li><strong>F</strong>9	Familie Fluor Bürgi, Eichweg 22</li>
			      	<li><strong>G</strong>11 Familie Guerdi, Eichweg 48</li>
			      	<li><strong>H</strong>12 Familie Heibei-Inderbitzin, Eichweg 40</li>
			      	<li><strong>I</strong>14 Familie Rothenbühler-Beer, Eichweg 42</li>
			      	<li><strong>J</strong>15 Annika und Erik Hunziker, Eichweg 52</li>
			      	<li><strong>K</strong>18 Familie Reinschmidt-Brokhues, Kirchbergstr. 74A</li>
			      	<li><strong>L</strong>20 Familie Podolak, Kirchbergstr. 86</li>
			      	<li><strong>M</strong>22 Familie Schmid, Weidhölzliweg 11</li>
			      	<li><strong>N</strong>24 Familie Hübscher, Kirchbergstr. 80</li>
			      </ul>
			      <i class=" icon-arrow-up"></i><a href="#top"> zum Anfang</a>
			      <hr>
			  </section><!-- end section -->
			  <!-- SECTION BREAK -->
			  <section id="Babysitterboerse"><!-- start section -->
				  <h2>Babysitterbörse</h2>
				  <div class="media">
					  <div class="pull-right">
						  <%= image_tag 'seiten/babysitterboerse.jpg', :class => "media-object" %>
					  </div>
					  <div class="media-body">
						  <p>
						  Sie wollen wieder mal einen Abend ohne Ihre Kinder verbringen, Zeit für sich selber haben, 
						  einen Termin wahrnehmen? Dann vermitteln wir Ihnen gerne einen vertrauenswürdigen Babysitter, 
						  der Ihre Kinder betreut, mit ihnen spielt oder sie ins Bett bringt.<br>
						  Wir geben Ihnen gerne zwei bis drei Adressen von Babysittern an. Sie nehmen dann selber mit dem 
						  Babysitter Kontakt auf und vereinbaren ein erstes Treffen. Eine erfolgreiche Vermittlung kann 
						  nicht garantiert werden, sondern hängt von Angebot und Nachfrage und Sympathien ab.<br>
						  Weitere wichtige Informationen und die Richttarife entnehmen Sie bitte dem Merkblatt.<br>
						  Für EVK-Mitglieder ist diese Dienstleistung kostenlos, für Nicht-Mitglieder verlangen wir 
						  einen Unkostenbeitrag von Fr. 10.--.<br>
						  Bei uns können sich aber auch die Jugendlichen melden, die auf der Liste eingetragen werden möchten.
						  </p>						  
					  </div>	
											  
				  </div>
				  <hr class="dotted">
				  <h3>Kontakt</h3>
				  <address>
					  <strong>Julia Eckstein</strong><br>
					  062 876 19 78<br>
					  <a href="mailto:mjeckstein@bluewin.ch">mjeckstein@bluewin.ch</a><br>
				  </address>
				  <hr class="dotted">
				  <h3>Merkblatt</h3>
				  <p>
					  <i class="icon-file"></i><%= link_to 'Merkblatt (pdf)', 'download/babysitterb_merkblatt_1008.pdf' %>
			      </p>
			      <hr class="dotted">
			      <!--<dd class="dl-horizontal">
				      <dt>Fiona</dt>
				      <dd><strong>Alter: </strong>15</dd>
				      <dd><strong>Babysitterkurs: </strong>Ja</dd>
				      <dd><strong>Geschwister: </strong>2</dd>
				      <dd><strong>Hobbies: </strong>Reiten, Tanzen, Kinder hüten</dd>
				      <dd>Mir würde vor allem Montagabend und Dienstagabend gut gehen. 
			          (Ich suche eine Familie, wo ich mehr oder weniger regelmässig hüten könnte)</dd>
			      </dd>-->
			      <table class="table table-bordered footable">
		            <thead>
		              <tr>
		                <th data-class="expand">Name</th>
		                <th>Alter</th>
		                <th data-hide="phone">Babysitterkurs</th>
		                <th data-hide="phone">Geschwister</th>
		                <th data-hide="phone">Hobbies</th>
		                <th data-hide="phone,tablet">Bemerkungen</th>
		              </tr>
		            </thead>
		            <tbody>
		              <tr>
		                <td>Fiona</td>
		                <td>15</td>
		                <td>Ja</td>
		                <td>2</td>
		                <td>Reiten, Tanzen, Kinder hüten</td>
		                <td>Mir würde vor allem Montagabend und Dienstagabend gut gehen. (Ich suche eine Familie, wo ich mehr oder weniger regelmässig hüten könnte)</td>
		              </tr>
		              <tr>
		                <td>Lara</td>
		                <td>14</td>
		                <td>Ja</td>
		                <td>2</td>
		                <td>Freunde, Zumba, FC Küttigen</td>
		                <td>Hüten kann ich am Mittwoch Nachmittag, am Freitag Abend, am Samstag und am Sonntag (nach Anfrage auch noch an anderen Tagen).</td>
		              </tr>
		              <tr>
		                <td>Laura</td>
		                <td>14</td>
		                <td>Ja</td>
		                <td>2</td>
		                <td>Voleyball, Zeichnen, Lesen</td>
		                <td>Ich hüte gerne weil ich mit Kindern gut umgehen kann und weil ich Kinder mag. Am besten zum hüten geht es mir am Mittwochnachmittag und Mittwochabend, Samstag und Sonntag.</td>
		              </tr>
		              <tr>
		                <td>Lisa</td>
		                <td>19</td>
		                <td>Ja</td>
		                <td>2</td>
		                <td>Unihockey, Lesen, Freunde, Städteausflüge, Salsatanzen</td>
		                <td>Generell kann ich jeden Abend hüten, ausser Montags und Freitags, da ich dann jeweils Training habe.</td>
		              </tr>
			              
		              <tr>
		                <td>Jennifer</td>
		                <td>13</td>
		                <td>Ja</td>
		                <td>1</td>
		                <td>Freunde , Tanzen, Geräteturnen, Kinder hüten</td>
		                <td>Ich hüte gerne Kinder weil ich mit Kindern gut umgehen kann .Ich habe auch viel Erfahrung damit . Ich kann am Dienstag Abend , 
		                am Mittwoch Nachmittag , Freitag von 16.00 Uhr , Samstag und Sonntags den ganzen Tag.</td>
		              </tr>
		              <tr>
		                <td>Lea</td>
		                <td>13</td>
		                <td>Ja</td>
		                <td>1</td>
		                <td>Volleyball, Lesen, Kinder hüten</td>
		                <td>Hüten kann ich Montag und Donnerstag ab 17.00, Mittwoch ab 15.00, Freitag ab 19.00, Samstag und Sonntag.</td>
		              </tr>
		            </tbody>
		          </table>
			      <i class="icon-arrow-up"></i><a href="#top"> zum Anfang</a>
			      <hr>
			  </section><!-- end section -->
		  </div><!-- end content section -->
</div>

