---
title: Bilder
metadesc: Bildergalerien des Elternvereins Küttigen-Rombach
---

<div class="row">
	<div class="span12">
		  <h1 id="top"><%= data.page.title %></h1>
		  <p><em>Ein Klick auf das Bild öffnet die Galerie.</em></p>
	</div>
	<div id="gallery-container" class="span12">
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/103759103677624128899/Kinderfasnacht2015?authkey=Gv1sRgCKWhocScyaqd6gE#"><%= image_tag 'galerie/kinderfasnacht2015.jpg', :alt => "Kinderfasnacht 2015" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Kinderfasnacht 2015</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Adventsfenster2014?authuser=0&feat=directlink"><%= image_tag 'galerie/adventsfenster2014.jpg', :alt => "Adventsfenster 2014" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Adventsfenster 2014</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Adventsfenster2013?authuser=0&feat=directlink"><%= image_tag 'galerie/adventsfenster2013.jpg', :alt => "Adventsfenster 2013" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Adventsfenster 2013</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/103759103677624128899/RabeliechtliUmzug2014#"><%= image_tag 'galerie/räbeliechtli14.jpg', :alt => "Räbeliechtli-Umzug 2014" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Räbeliechtli 2014</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/FerienspassBiken2014?authuser=0&feat=directlink"><%= image_tag 'galerie/bike14.jpg', :alt => "FerienSpass Biken 2014" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>FerienSpass Biken 2014</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Waldspielgruppe20132014?authuser=0&feat=directlink"><%= image_tag 'galerie/wald14.jpg', :alt => "Waldspielgruppe 2013/14" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Waldspielgruppe 2013/14</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/ChinderkafiApero2013?authuser=0&feat=directlink"><%= image_tag 'galerie/kafi-apero14.jpg', :alt => "Chinderkafi Apéro 2014" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Chinderkafi Apéro 2014</p>  
				<!-- end description content -->  
			</div>  
		</div>



	
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Rabeliechtliumzug2013#slideshow/5947681146818129058"><%= image_tag 'galerie/raebeliechtli2013.jpg', :alt => "Räbelichtli 2013 Umzug Bildergalerie" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Räbeliechtli Umzug 2013</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/103759103677624128899/KinderzeichnungenMulifest2013?authuser=0&authkey=Gv1sRgCLeF9NKxs--20AE&feat=directlink#slideshow/5880521237180294722"><%= image_tag 'galerie/MuehliFest2013.jpg', :alt => "Mülifest 2013" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Mülifest Küttigen 2013</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/114501793423007427146/KinderkleiderUndSpielzeugborse?authuser=0&authkey=Gv1sRgCJXvoN2j09CPfQ&feat=embedwebsite"><%= image_tag 'galerie/boerse2013.jpg', :alt => "Kinderkleider- und Spielzeugbörse Frühling 2013" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Kinderkleider- und Spielzeugbörse Frühling 2013</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/103759103677624128899/Kinderfasnacht2013?feat=email#slideshow/5856411981396216018"><%= image_tag 'galerie/kinderfasnacht2013.jpg', :alt => "Kinderfasnacht 2013 Küttigen Bildergalerie" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Kinderfasnacht 2013</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Adventsfenster2012?authkey=Gv1sRgCKqh7Za49oz3Sw#slideshow/5821141844449229458"><%= image_tag 'galerie/adventsfenster2012.jpg', :alt => "Adventsfenster Küttigen Bildergalerie" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Adventsfenster 2012</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Rabelichtli2012Kuttigen?authkey=Gv1sRgCM6dkKHt0d_-EQ#slideshow/5810009004835699202"><%= image_tag 'galerie/raebeliechtli2012.jpg', :alt => "Räbelichtli Umzug Bildergalerie" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Räbeliechtli Umzug 2012</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Tessinerfaescht2012?authkey=Gv1sRgCOSwosbXzrKcFw#slideshow/5782789525056047506"><%= image_tag 'galerie/tessinerfaescht2012.jpg', :alt => "Tessinerfäscht Küttigen 2012 Bilder" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Tessinerfäscht 2012</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Waldspielgruppe2012?authkey=Gv1sRgCNn8tab34JSr4gE#slideshow/5779360602726402770"><%= image_tag 'galerie/waldspielgruppe2012.jpg', :alt => "Waldspielgruppe Küttigen 2012 Bilder" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Waldspielgruppe 2012</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/KirchbergfestJuni2012?authkey=Gv1sRgCMDCnJ2ei9iGUw#slideshow/5750452748950116466"><%= image_tag 'galerie/kirchbergfest.jpg', :alt => "Kirchbergfest Küttigen 2012 Bilder" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Kirchberg 2012</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Adventsfenster2011ElternvereinKuttigenRombach#slideshow/5702304355921113650"><%= image_tag 'galerie/adventsfenster2011.jpg', :alt => "Adventsfenster Küttigen 2011 Bilder" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Adventsfenster 2011</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Gewerbeausstellung2011?authkey=Gv1sRgCL2Qt4ahqM6D4wE#slideshow/5656728553008365858"><%= image_tag 'galerie/gewerbeausstellung.jpg', :alt => "Gewerbeausstellung Küttigen 2011 Bilder"  %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Gewerbeausstellung 2011</p>  
				<!-- end description content -->  
			</div>  
		</div>
		<div class="gallery-wraper">
			<a href="https://picasaweb.google.com/107133230741464099788/Kinderfasnacht2011?authkey=Gv1sRgCI2XzOS89qXYOw#slideshow/5609994089437262450"><%= image_tag 'galerie/kinderfasnacht2011.jpg', :alt => "Kinderfasnacht 2011 Küttigen Bilder" %></a>
			<div class='description'>  
				<!-- description content -->  
				<p class='description_content'>Kinderfasnacht 2011</p>  
				<!-- end description content -->  
			</div>  
		</div>

	</div>
</div>