---
title: Home
pageable: true
per_page: 10
---

    <div class="row">
      <div class="span12">
        <h1>Elternverein Küttigen - Rombach</h1>
        <p>Wir bringen etwas in Bewegung, für unsere Kinder und für uns...</p>
        <hr />
      </div>
    </div>
    
    <div class="row">
      <div class="span12">
	        <!-- Carousel -->
			<div id="myCarousel" class="carousel slide">
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item">		    	
			    	<%= image_tag 'Start_Mittagstisch.jpg' %>
			    </div>
			    <div class="item">
				    <%= image_tag 'kinderfasnacht_start.jpg' %>
			    </div>
			    <div class="item">
				    <%= image_tag 'waldspielgruppe_start.jpg' %>
			    </div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
      </div>
    </div>

    <div class="row">
      <section class="span9">
      <h3>News</h3>
      <% blog.articles[0...5].each do |article| %>
      	<article>
	      	<h4><a href="<%= article.url %>"><%= article.title %></a> <i class="icon-calendar"> </i><time><%= article.date.strftime('%d.%m.%Y') %></time></h4>
		    <%= article.summary %>
		    <a href="<%= article.url %>">zum Artikel</a>
	   </article>
	   <hr>
	  <% end %>      
      </section>
      <aside class="span3">
      <h3>Top Links</h3>
      <ul class="unstyled">
	      <li><i class="icon-bookmark"></i> <a href="/verein/#Mitgliedschaft">Mitglied werden</a></li>
      </ul>
      </aside>
    </div>


