---
title: Home
pageable: true
per_page: 10
metadesc: Website des Elternverein Küttigen-Rombach in der Schweiz. Hier findest Du alle wichtigen Informationen rund um das Angebot und die Aktivitäten des Vereines. Bilder, Angebote wie das MusikErlebnis oder die Spielgruppen, Informationen über den Verein, das Jahresprogramm und vieles mehr.
---

    <div class="row">
      <div class="span12">
        <h1>Elternverein Küttigen - Rombach</h1>
        <p>Wir bringen etwas in Bewegung, für unsere Kinder und für uns...</p>
        <hr />
      </div>
    </div>
    
    <div class="row">
      <div class="span12">
	        <!-- Carousel -->
			<div id="myCarousel" class="carousel slide">
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			    <li data-target="#myCarousel" data-slide-to="3"></li>
			    <li data-target="#myCarousel" data-slide-to="4"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item">		    	
			    	<a href="/angebot/#Mittagstisch"><%= image_tag 'Start_Mittagstisch1.jpg', :alt => "Mittagstisch Küttigen" %></a>
			    	<div class="carousel-caption">
				    	<h4>Mittagstisch</h4>
				    	<p>Der Elternverein, unterstützt von der Gemeinde Küttigen-Rombach, führt den Mittagstisch für Kindergarten- und Schulkinder mit kompetenter Betreuung, 
				    	ausgewogener Ernährung und idealer Infrastruktur.</p>
				    </div>
			    </div>
			    <div class="item">
				    <a href="/angebot/#Kinderfasnacht"><%= image_tag 'kinderfasnacht_start.jpg', :alt => "Kinderfasnacht Küttigen" %></a>
				    <div class="carousel-caption">
						<h4>Kinderfasnacht</h4>
						<p>Die Arbeitsgruppe Fasnacht organisiert alljährlich einen bunten Umzug für kleine und grosse FasnächtlerInnen durch Küttigen.</p>
					</div>
			    </div>
			    <div class="item">
				    <a href="/angebot/#Waldspielgruppe"><%= image_tag 'waldspielgruppe_start.jpg', :alt => "Waldspielgruppe Küttigen" %></a>
				    <div class="carousel-caption">
					    <h4>Waldspielgruppe</h4>
					    <p>Sehen, Hören, Riechen, Fühlen und Tasten ebenso wie die Fein- und Grobmotorik. Auch für Fantasie und Kreativität bietet der Wald ein ideales Lernfeld. Die Abenteuerlust kann gelebt werden.</p>
					</div>
			    </div>
			    <div class="item">
				    <a href="/angebot/#MusikErlebnis"><%= image_tag 'Start_Musikerlebnis.jpg', :alt => "Musikerlebnis Küttigen" %></a>
				    <div class="carousel-caption">
					    <h4>MusikErlebnis</h4>
					    <p>Beim Singen, Tanzen und Musizieren werden die sprachliche, intellektuelle, kreative, soziale und seelische Entwicklung des Kindes gefördert.</p>
					</div>
			    </div>
			    <div class="item">
				    <a href="/angebot/#Ferienspass"><%= image_tag 'Start_Ferienspass.jpg', :alt => "Ferienspass Küttigen" %></a>
				    <div class="carousel-caption">
					    <h4>Ferienspass</h4>
					    <p>In der ersten und letzten Sommer-Ferienwoche können die Kinder aus rund 60 verschiedenen Kursen auswählen und so neue, spannende Gebiete aus den verschiedensten Sparten kennenlernen.</p>
					</div>
			    </div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" data-slide="prev" onclick="$('#myCarousel').carousel('prev')">&lsaquo;</a>
			  <a class="carousel-control right" data-slide="next" onclick="$('#myCarousel').carousel('next')">&rsaquo;</a>
			</div>
      </div>
    </div>

    <div class="row">
      <section class="span9">
      <h3>News</h3>
      <% blog.articles[0...5].each do |article| %>
      	<article>
	      	<h4><a href="<%= article.url %>"><%= article.title %></a> <i class="icon-calendar"> </i><time><%= article.date.strftime('%d.%m.%Y') %></time></h4>
		    <%= article.summary %>
		    <a href="<%= article.url %>">zum Artikel</a>
	   </article>
	   <hr>
	  <% end %>      
      </section>
      <aside class="span3">
      <h3>Top Links</h3>
      <ul class="unstyled">
	      <li><i class="icon-bookmark"></i> <a href="/verein/#Mitgliedschaft">Mitglied werden</a></li>
      </ul>
      </aside>
    </div>


